@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1264px;
  padding: 0 16px;
  margin: 0 auto;
}

main {
  color: #fff;
  min-height: 100%;
  background-image: url(./img/mainBackground.jpg);
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

:root {
  --col-width: calc(100% / 12);
}

.col-lg-1 {
  width: var(--col-width);
}

.col-lg-2 {
  width: calc(var(--col-width) * 2);
}

.col-lg-3 {
  width: calc(var(--col-width) * 3);
}

.col-lg-4 {
  width: calc(var(--col-width) * 4);
}

.col-lg-5 {
  width: calc(var(--col-width) * 5);
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: calc(var(--col-width) * 7);
}

.col-lg-8 {
  width: calc(var(--col-width) * 8);
}

.col-lg-9 {
  width: calc(var(--col-width) * 9);
}

.col-lg-10 {
  width: calc(var(--col-width) * 10);
}

.col-lg-11 {
  width: calc(var(--col-width) * 11);
}

.col-lg-12 {
  width: 100%;
}

[class*="col-"] {
  padding-left: 16px;
  padding-right: 16px;
}

.logo-svg {
  width: 205px;
  height: 40px;
}

.night-svg {
  width: 30px;
  height: 30px;
}

.account-svg {
  width: 40px;
  height: 40px;
}

.google-play {
  height: 39.99994659423828px;
  width: 135px;
}

.app-store {
  height: 40px;
  width: 119.6640625px;
  margin-left: 17px;
}

.support-icon {
  height: 91.66666412353516px;
  width: 75px;
}

.communicate-icon {
  height: 83.33333587646484px;
  width: 83.33333587646484px;
}

.book-icon {
  height: 66.66665649414062px;
  width: 100px;
}

.reviews-icon {
  height: 83.33333587646484px;
  width: 91.66666412353516px;
}

.header-section {
  padding-top: 51px;
  display: flex;
  justify-content: space-between;
}

.header-section__list {
  font-family: Sans-serif, "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.header-section__item--link {
  width: 59px;
  height: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.5s;
}

.account-icon {
  padding-left: 24px;
}

.night-icon {
  padding-top: 5px;
  padding-left: 48px;
}

.burger-icon {
  display: none;
}

.nav-link-attractions {
  margin-left: 24px;
}

.stays {
  padding-top: 5px;
}

.attractions {
  padding-top: 5px;
}

.nav-link-stays:hover,
.nav-link-attractions:hover {
  border: 0;
  border-bottom: 4px solid #f5bd41;
  border-style: solid;
  transition: 0.5s;
}

.shape__header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  width: 542px;
  height: 118px;
  margin-top: 197px;
}

.shape__form {
  position: relative;
  display: flex;
  margin-top: 142px;
  box-sizing: border-box;
  background: #ffffff;
  border: 3px solid #f3f3f4;
  border-radius: 8px;
  height: 64px;
  border: 0;
}

.form__btn {
  width: 225px;
  height: 65px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  background: #3077c6;
  border-radius: 8px;
  border: 0;
}

.form__name--city {
  position: absolute;
  left: 2%;
  bottom: 137%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 29%;
}

.form__name--date {
  position: absolute;
  left: 40%;
  bottom: 137%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 15%;
}

input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 0;
  width: 30%;
  height: 100%;
  background: white;
  border-radius: 8px;
  border: 0;
  outline: none;
}

#country {
  width: 545px;
  padding-left: 30px;
}

#date {
  display: flex;
  width: 300px;
  border: 2px solid #f5bd41;
}

#amount {
  display: flex;
  padding-left: 32px;
}

#tue,
#sat {
  width: 50%;
}

#adults,
#children,
#room {
  width: 33.3333333333%;
}

.top-section__app-market {
  display: flex;
  margin-top: 120px;
  padding-bottom: 118px;
  padding-left: 39%;
}

.offer-section {
  margin: 120px auto;
}

.offer-section__header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #383838;
  text-align: center;
}

.offer-section__header::after {
  display: block;
  width: 100px;
  height: 4px;
  content: "";
  border-bottom: 4px solid #f5bd41;
  margin: 15px auto 0;
}

.offer-section__container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  margin: 84px auto 0;
  text-align: center;
}

.offer-section__container--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .book {
  padding-top: 10px;
} */

.text-icon {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #383838;
  margin-top: 52px;
}

.guests-loves {
  background: #eaf0f9;
}

.maldives {
  position: relative;
}

.btn__book-now {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 48px;
  color: #3077c6;
  border: 1px solid #3077c6;
  border-radius: 4px;
}

/* .photo-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding-bottom: 100px;
} */

.guests-loves__photos {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding-bottom: 100px;
}

.arrows_for-mobile {
  visibility: hidden;
}

.best-destitations__photo {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
  text-align: center;
  padding-top: 120px;
}
.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #3077c6;
}

.describe-homes {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #bfbfbf;
}

.arrow {
  width: 40px;
  height: 40px;
}

.arrows {
  position: absolute;
  top: 25%;
  right: 0%;
}

.arrow__destination {
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
}

.arrows__destination {
  margin: 48px 47% 120px;
}

.arrows2__destination {
  visibility: hidden;
  width: 0;
  height: 0;
}
.block {
  margin: 0 1%;
}

.apartment-photo {
  max-height: 280px;
}

.photo {
  width: 100%;
  height: 65%;
}

.target {
  display: flex;
  width: 50%;
  height: 64.01px;
  margin-top: 104px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.regions {
  width: 30%;
  background: #3077c6;
  color: white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.cities {
  width: 30%;
  color: #383838;
  background: #f3f3f4;
}

.places {
  width: 40%;
  color: #383838;
  background: #f3f3f4;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.target__block {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 22px;
  border: none;
  text-align: center;
  padding-top: 20px;
}

.sign-up__block {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 120px;
  background: #eaf0f9;
}

.account-img {
  padding: 57px 24px;
}

.header__sign-up {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  /* text-align: center; */
  color: #383838;
  /* padding-top: 51px; */
  margin-bottom: 21px;
}

.btn__sign-up {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3077c6;
  width: 128px;
  height: 48px;
  left: 238px;
  top: 3355px;
  background: #ffffff;
  border: 1px solid #3077c6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.close-img {
  position: absolute;
  top: 4%;
  right: 2%;
}

.btn__install,
.logo__sign-up {
  display: none;
}

.review__head {
  display: flex;
  justify-content: space-between;
}

.review__place,
.grade {
  margin: 24px;
}

.review-hotel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #3077c6;
}

.review-city {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #3077c6;
  margin-top: 16px;
}

.review {
  margin-right: 16px;
  background: #eaf0f9;
}

.data {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.name-country {
  margin-left: 16px;
}

.reviews {
  display: flex;
}
h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
}

.review__from {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #bfbfbf;
}

.review__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
  margin-left: 24px;
  margin-top: 16px;
  padding-bottom: 66px;
}

.reviews__header-section {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
  text-align: center;
  margin: 32px;
}

.review-photo {
  width: 100%;
  height: 40%;
  padding: 0;
}
.rev {
  display: flex;
  flex-direction: column;
}

#marocco {
  margin: 0;
}

[class*="col-"] {
  padding: 0;
}

.reviews__header-section-mobile {
  display: none;
}

.dots-wrapper {
  display: none;
}

footer {
  color: #fff;
  background-color: #10367c;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-left: 10px;
}

.footer-section__list {
  list-style: none;
}

.footer__list {
  padding-top: 23px;
}

.footer__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 23px;
  color: #fff;
  text-decoration: none;
}

.footer__link--header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.property {
  padding-right: 60px;
}

.support {
  margin-right: 169px;
}

.footer-section__credit {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 64px;
  padding-left: 2px;
  padding-bottom: 120px;
}

.logo-footer-svg {
  display: none;
}

/* @media (max-width: 1024px) {
  For mobile tablets

  .col-md-1 {
    width: var(--col-width);
  }

  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-md-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }

  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }

  .col-md-9 {
    width: calc(var(--col-width) * 9);
  }

  .col-md-10 {
    width: calc(var(--col-width) * 10);
  }

  .col-md-11 {
    width: calc(var(--col-width) * 11);
  }

  .col-md-12 {
    width: 100%;
  }

  .offer-section {
    margin: 5% 10%;
  }

  .offer-section__container--content {
    width: 50%;
    margin-bottom: 5%;
  }

  .footer-section {
    padding-top: 5%;
  }

  .support {
    margin-right: 0;
  }

  .footer-section__credit {
    padding-bottom: 5%;
  }
} */

@media (max-width: 768px) {
  /* For mobile Phone: */

  :root {
    --col-width: calc(100% / 6);
  }

  .col-sm-1 {
    width: var(--col-width);
  }

  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-sm-6 {
    width: 100%;
  }

  /* main {
    display: none;
  } */

  .header-section__list {
    display: flex;
    align-items: center;
  }
  .logo-svg {
    margin-left: 16px;
    width: 121.92px;
    height: 24px;
  }

  .night-icon {
    padding: 0;
  }

  .night-svg {
    width: 16px;
    height: 16px;
  }
  .account-icon {
    padding-right: 16px;
  }

  .account-svg {
    width: 24px;
    height: 24px;
  }

  /* .header-section {
    align-items: center;
  } */

  .shape__header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

    margin-top: 40px;
  }

  /* input {
    display: block;
  } */

  #country {
    width: 96%;
    height: 58px;
    margin: 8px 2%;
    border: none;
    padding: 0;
  }

  #date {
    width: 96%;
    height: 63px;
    margin-left: 2%;
    margin-right: 2%;
  }

  #amount {
    width: 96%;
    height: 58px;
    margin: 8px 2%;
  }
  #tue {
    margin-right: 1%;
  }

  #sat {
    margin-left: 1%;
  }

  #amount {
    padding-left: 0;
  }

  #adults {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: solid;
    border-color: #bfbfbf;
  }

  #children {
    border-radius: 0;
    border-right: solid;
    border-color: #bfbfbf;
  }

  #room {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .shape__header {
    width: 100%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }
  .shape__form {
    display: block;
    margin: 0;
    max-height: 100%;
    height: 275px;
    margin: 0 auto;
    background-color: #f5bd41;
  }

  .form__name--city {
    display: none;
  }

  .form__name--date {
    display: none;
  }

  .form__btn {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
    color: #ffffff;
    background: #3077c6;
    border: 3px solid #f3f3f4;
    border-radius: 8px;
    border: 0;
    /* width: 98%; */
    width: 96%;
    height: 58px;
  }

  .top-section__app-market {
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 40px;
    margin: 0;
    padding-left: 0;
  }

  .attractions,
  .stays {
    display: none;
  }

  .burger-icon {
    display: block;
    width: 24px;
    height: 16px;
  }

  /* .app-store {
    height: 40px;
    width: 119.6640625px;
    border-radius: 0px;
  }

  .google-play {
  } */

  .wrapper {
    padding: 0 8px;
    margin: 0 auto;
  }

  .offer-section {
    margin-top: 24px;
    margin-bottom: 40px;
  }

  .offer-section__container--content {
    margin-bottom: 32px;
  }

  .support-icon {
    width: 70px;
    height: 70px;
  }

  .communicate-icon {
    width: 70px;
    height: 70px;
  }

  .book-icon {
    width: 70px;
    height: 70px;
  }

  .reviews-icon {
    width: 70px;
    height: 70px;
  }
  .text-icon {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 16px;
  }

  .offer-section__header {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
  }

  .offer-section__header::after {
    display: none;
  }

  .offer-section__container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 84px auto 0;
    text-align: center;
    margin-top: 32px;
  }

  .villa {
    display: none;
  }

  .hostel {
    display: none;
  }

  .norway {
    display: none;
  }

  .island {
    display: none;
  }

  .guests-loves {
    display: block;
    background-color: #eaf0f9;
  }

  .hotel {
    margin-right: 8px;
  }

  .photo {
    width: 100%;
    height: 70%;
  }

  .apartment {
    position: relative;
    margin-left: 8px;
  }
  .arrows_for-mobile {
    position: absolute;
    visibility: visible;
    left: 96%;
    bottom: 60%;
  }

  .title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #383838;
    text-align: center;
    padding-top: 40px;
  }

  .photo-block {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .arrows {
    display: none;
  }

  .name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #3077c6;
  }

  /* .best-destinations {
    position: relative;
  } */

  .describe-homes {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #bfbfbf;
  }

  .target {
    max-width: 350px;
    display: flex;
    margin: 32px auto;
    filter: none;
  }

  .target__block {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #383838;
    width: 98px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #bfbfbf;
    text-align: center;
    padding-top: 1%;
  }

  .regions {
    color: #fff;
    background: #3077c6;
    border: 1px solid black;
    margin-right: 8px;
  }

  .cities {
    margin-right: 8px;
  }

  .maldives {
    margin-right: 8px;
  }

  .btn__book-now {
    display: none;
  }

  .hostel {
    margin-left: 8px;
  }

  .arrow {
    width: 28px;
    height: 28px;
    top: 35%;
    left: 78%;
  }

  /* .spain {
    position: relative;
  } */

  /* .arrows__destination {
    position: absolute;
    margin: 0;
  ;
  } */

  .spain {
    position: relative;
  }
  .arrow2__destination {
    position: absolute;
    visibility: visible;
    width: 25px;
    height: 25px;
    left: 96%;
    bottom: 60%;
  }

  .arrows__destination {
    margin: 0;
  }

  .arrow__destination {
    display: none;
  }

  .account-img {
    display: none;
  }

  .header__sign-up {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-left: 16px;
  }

  .sign-up__block {
    background: none;
    margin-bottom: 24px;
  }

  .btn__sign-up {
    display: none;
  }

  .close-img__svg {
    width: 16px;
    height: 16px;
  }

  .close-img {
    top: 40%;
    left: 2%;
  }

  .btn__install {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3077c6;
    background: none;
    border: none;
    padding-left: 16px;
  }

  .logo__sign-up {
    display: block;
    padding-left: 10%;
  }

  .sign-up__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #marocco,
  .Netherlands {
    display: none;
  }

  .rev {
    padding-right: 16px;
  }

  .review {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .reviews__header-section {
    display: none;
  }

  .review-photo {
    width: 100%;
    padding: 32px 16px 12px;
  }

  .reviews__header-section-mobile {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #383838;
    text-align: center;
    padding-top: 40px;
  }

  .dots-wrapper {
    display: block;
  }

  .dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 40px;
  }

  .dot.active {
    border: 1px solid #000000;
    background-color: #000000;
  }

  span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #000000;
    margin-right: 10px;
    cursor: pointer;
  }

  span:last-child {
    margin-right: 0;
  }

  .review__text {
    padding-bottom: 0;
  }

  .footer__link--header {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-decoration: underline;
  }

  .footer__list {
    display: none;
  }

  .footer-section {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin: 0 auto;
  }

  .logo-footer-svg {
    display: block;
    width: 98px;
    height: 19px;
    margin: 0 auto;
  }

  .logo-footer {
    padding-top: 40px;
  }

  .about {
    padding-left: 0;
  }

  .support {
    margin-right: 0;
  }

  .property {
    padding-right: 0;
  }

  .footer-section__credit {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-top: 32px;
    padding-bottom: 40px;
  }
}
