body {
  width: 1440px;
}

.header {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 0;
}

.line {
  margin: 20px 670px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 122px;
  text-align: center;
}

.content {
  margin: 0 auto;
}

.vektor {
  width: 83px;
  height: 83px;
}
